<div class="flex items-center gap-2">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- slot: post-share-left.html -->
  {{ if fileExists "layouts/partials/post-share-left.html" }}
    {{ partial "post-share-left.html" . }}
  {{ end }}

  {{ $shares := slice "qq" "weixin" "weibo" }}
  {{ $shareTitles := dict
    "qq" "QQ"
    "weixin" "WeChat"
    "weibo" "weibo"
  }}
  {{ $shareLinks := dict
    "qq" (print "http://connect.qq.com/widget/shareqq/index.html?url=" .Permalink "&title=" .Title)
    "weibo" (print "http://service.weibo.com/share/share.php?url=" .Permalink "&title=" .Title)
    "weixin" (print "weixin://dl/share?text=" .Title " " .Permalink)
  }}
  {{ if site.Params.reorderShares }}
    {{ $shares = site.Params.reorderShares }}
  {{ end }}
  {{ range $shares }}
    <a class="group inline-flex items-center p-2 rounded-full cursor-pointer hover:bg-primary"
      href="{{ index $shareLinks . }}" target="_blank" rel="noopener noreferrer"
      title="Share on {{ index $shareTitles . }}"
      style="text-decoration: none;">
      <i class="fab fa-{{ . }}"></i>
    </a>
  {{ end }}

  <!-- slot: post-share-right.html -->
  {{ if fileExists "layouts/partials/post-share-right.html" }}
    {{ partial "post-share-right.html" . }}
  {{ end }}
</div>
