<div class="flex items-center gap-2">
  <!-- slot: post-share-left.html -->
  {{ if fileExists "layouts/partials/post-share-left.html" }}
    {{ partial "post-share-left.html" . }}
  {{ end }}

  {{ $shares := slice "qq" "qzone" "wechat" }}
  {{ $shareTitles := dict
    "qq" "QQ"
    "qzone" "Qzone"
    "wechat" "WeChat"
  }}
  {{ $shareLinks := dict
    "qq" (print "http://connect.qq.com/widget/shareqq/index.html?url=" .Permalink "&title=" .Title)
    "qzone" (print "http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=" .Permalink "&title=" .Title)
    "wechat" (print "weixin://dl/share?text=" .Title " " .Permalink)
  }}
  {{ if site.Params.reorderShares }}
    {{ $shares = site.Params.reorderShares }}
  {{ end }}
  {{ range $shares }}
    <a class="group inline-flex items-center p-2 rounded-full cursor-pointer hover:bg-primary"
      href="{{ index $shareLinks . }}" target="_blank" rel="noopener noreferrer"
      title="Share on {{ index $shareTitles . }}">
      <ion-icon class="group-hover:text-primary-content" name="logo-{{ . }}"></ion-icon>
    </a>
  {{ end }}

  <!-- slot: post-share-right.html -->
  {{ if fileExists "layouts/partials/post-share-right.html" }}
    {{ partial "post-share-right.html" . }}
  {{ end }}
</div>
